html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.post-list {
  display: block;
  max-width: 600px;
}
.post-card {
  display: block;
}
.delete-icon {
  color: rgba(255, 1, 1, 0.68);
  cursor: pointer;
}
